@import url('https://fonts.googleapis.com/css2?family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 
}


.wrapper{
max-width: 1000px;
margin-left: 5%;
margin-right: 5%;
margin: auto;
}


h1, h2, a {
  font-family: "Overlock", sans-serif;
  color: #B58FBF;
}

p{
  font-family:"Roboto", sans-serif;
  font-size: 1.2rem;
color: #666666;
}

.GAP{
  margin-bottom: 25px;
}
/* ------------------HEader--------------- */
.logo h1{
  font-size: 6rem;
  font-weight: 600;
}

.logo p{
  font-size: 1.5rem;
  color: #666666;
  font-weight: 100;
  /* margin-top: 1.5rem; */
  margin-bottom: 4rem;
}

.Header_search{
 /* display: flex;  */
justify-content: center; 

;
/* text-align: center; */

}

div hr{
border-top: 1px solid #d4c5c5;
border-radius: 5px;
margin-top: 1rem;
}

 input{
width: 100%;
padding: 0.5rem;
border-color: #EDEDED;
border-style: ridge;
font-size: 1.2rem;

}
.Header_search p{
margin-top: 2rem;
margin-bottom: 0.5rem;
font-size: 1.5rem;
font-weight: 400;

}
nav{
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  margin-bottom: 1rem;

}

nav a{
text-decoration: none;
font-size: 1.5rem;
font-weight: 300;
}

.header__foto img{
  width: 100%;
  display: none;
}



@media only screen and (min-width: 641px){
  .header_top {
    display: flex;
    justify-content: space-between;
  }
  .header__foto img {
    display: unset;
  }
}

/* ----------registracion----------- */
.registration__form{}

.registration_image--mobile img{
  width: 100%;
}
.registration_image--desktop img{
  width: 100%;
  display: none;
}

/* .registration--form p{
  margin-top: 1.2rem;
  margin-bottom: 0.8rem;
} */

@media only screen and (min-width: 641px){
  .registration__form{
    display: flex;
    gap: 1rem;
  }
.registration_image--mobile img{
  width: 100%;
  display: none;
}
.registration_image--desktop img{
  width: 100%;
  display: unset;
}
.registration__foto{
  flex: 1;
}
.registration__form--form{
  flex: 2;
}
}
/* isijungia dar vienas css kai didesnis , rasome po */


label {
  font-size: 1.2rem;
  

}

input{
  margin-bottom: 1rem;
  margin-top: 0.4rem;
}

button{
  background-color: #B58FBF;
  padding: 0.8rem;
  color: #fff;
  border-radius: 8px;
  border: none;
 cursor: pointer;
 font-size: 1.3rem;
}
