@import url('https://fonts.googleapis.com/css2?family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 
}


.wrapper{
max-width: 1000px;
margin-left: 5%;
margin-right: 5%;
}


h1, h2, a {
  font-family: "Overlock", sans-serif;
  color: #B58FBF;
}

p{
  font-family:"Roboto", sans-serif;
  font-size: 1.2rem;

}
/* ------------------HEader--------------- */
.logo h1{
  font-size: 6rem;
  font-weight: 600;
}

.logo p{
  font-size: 1.5rem;
  color: #666666;
  font-weight: 100;
  /* margin-top: 1.5rem; */
  margin-bottom: 4rem;
}

.Header_search{
 /* display: flex;  */
justify-content: center; 

;
/* text-align: center; */

}

div hr{
border-top: 1px solid #d4c5c5;
border-radius: 5px;
margin-top: 1rem;
}

 input{
width: 100%;
padding: 0.5rem;
border-color: #EDEDED;
border-style: ridge;
font-size: 1.2rem;

}
.Header_search p{
margin-top: 2rem;
margin-bottom: 0.5rem;
font-size: 1.5rem;
font-weight: 400;

}
nav{
  display: flex;
  justify-content: space-around;
  

}

nav a{
text-decoration: none;
font-size: 1.5rem;
font-weight: 300;
}

.header__foto img{
  width: 100%;
  display: none;
}



@media only screen and (min-width: 641px){
  .header_top {
    display: flex;
    justify-content: space-between;
  }
  .header__foto img {
    display: unset;
  }
}

/* ----------registracion----------- */
.registration__form{}

.registration_image--mobile img{
  width: 100%;
}
.registration_image--desktop img{
  width: 100%;
  display: none;
}

/* .registration--form p{
  margin-top: 1.2rem;
  margin-bottom: 0.8rem;
} */

@media only screen and (min-width: 641px){
  .registration__form{
    display: flex;
    gap: 1rem;
  }
.registration_image--mobile img{
  width: 100%;
  display: none;
}
.registration_image--desktop img{
  width: 100%;
  display: unset;
}
.registration__foto{
  flex: 1;
}
.registration__form--form{
  flex: 2;
}





}
/* isijungia dar vienas css kai didesnis , rasome po */
@media only screen and (min-width: 641px){
  .b {}
  .a {}
}

label {
  font-size: 1.2rem;
  

}







/* forma */
/* body {
  background: #f6f7f9;
  display: flex;
  justify-content: center;
  padding: 40px 0;
}
.contact-wrapper {
  width: 100%;
  max-width: 600px;
  background: #fff;
  padding: 30px;
  border-radius: 6px;
}

.contact-wrapper h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #2c2c2c;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 14px;
  margin-bottom: 15px;
  border: 1px solid #cfd6e0;
  border-radius: 4px;
  font-size: 14px;
  }

.contact-form textarea {
  resize: vertical;
}

.contact-form button {
  width: 100%;
  padding: 14px;
  background: #6aa5ff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.contact-form button:hover {
  background: #4f8ef7;
}
 */



/* isijungia dar vienas css kai didesnis */
/* @media only screen and (min-width: 600px){
  .b {}
  .a {}
} */